@import url("reset.css");

* {
    color: green;
}

h1 {
    color: blue;
}

.food * {
    color: brown;
}

.subtitle-food {
    color: red;
}

.subtitle-food +p {
    color: orange;
}

.flag p {
    color: aqua;
}

[id*="g"] {
    color: lightskyblue;
}

[title*="початок"] {
    color: lightseagreen;
}

.header-block a {
    color: blueviolet;
}

.about p {
    color: blue;
}

.about > p {
    color: aquamarine;
}

.known-singers + p {
    color: lightgreen;
}

.subtitle-vishivanka ~ p {
    color:black
}

.vishivanka-item {
    color: grey;
}

footer a {
    color: orange;
}